<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="EC2Context"
         connectionString="Server=459c1c90-ed08-4f7f-b1af-a4030026aaba.sqlserver.sequelizer.com;Database=db459c1c90ed084f7fb1afa4030026aaba;User ID=twrykyhqfmzyfmin;Password=Q2hEr7BzsTSipkTSxJu8DiXxdxsbDS5RRD7ZCkdVypLNohwcSnGLitcFcRA2MA5H;" />
  </connectionStrings>
</configuration>